[Unit]
Description=Vyatta platform
After=system-preconfigure.service

[Service]
Type=oneshot
ExecStartPre=/bin/mkdir -p /run/vyatta/platform
ExecStart=/bin/bash -c '/usr/bin/touch /run/vyatta/platform/`/opt/vyatta/bin/vyatta-platform-util --what-am-i`'

[Install]
WantedBy=multi-user.target
